<% include ../partials/header.ejs %>

<div class="viewport-container bg-delsol">
    <div class="container-fluid">
	    <div class="row">
	    	<div class="col-12">
	    		<div class="card mt-3 text-center text-lg-left">
	    			<div class="card-block">
	    				<h1 class="display-4">Daron Anderson</h1>
	    				<h3>Skateboarder</h3>
	    			</div>
	    		</div>
	    	</div>
	    </div><!-- .row -->
	    <div class="row">
	        <div class="col-12">
	            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/zhyTCgAg-xw?ecver=1" frameborder="0" style="min-height: 400px;" allowfullscreen></iframe>
	        </div><!-- .col -->
	    </div><!-- .row -->
    </div><!-- .container-fluid -->
</div><!-- .viewport-container -->


<div class="viewport-container bg-oakland">
    <div class="container-fluid">
	    <div class="row">
	    	<div class="col-12">
	    		<div class="card mt-3 text-center text-lg-left">
	    			<div class="card-block">
	    				<h1 class="display-4">Daron Anderson</h1>
	    				<h3>Programmer</h3>
	    			</div>
	    		</div>
	    	</div>
	    </div><!-- .row -->
	    <div class="row">
	        <div class="col-12 col-lg-6">
	    		<div class="card mt-3 text-center text-lg-left">
	    			<div class="card-block">
	    				<p class="card-text">
	    					Developer @ 
	    					<a href="https://codehesion.tech" target="_blank">
	    						Codehesion
	    					</a> where I build cool websites for the community.<br><br>
	    					Member of 
	    					<a href="https://sudoroom.org" target="_blank">
	    						Sudo Room
	    					</a> where I teach and program with other Developers.<br><br>
	    					I am interested in <em>Web Development</em> <em>Network Security</em>, <em>Penetration Testing</em> &amp; <em>Ethical Hacking</em>.<br>
	    				</p>
	    			</div>
	    		</div>
	        </div><!-- .col -->
	    </div><!-- .row -->
    </div><!-- .container-fluid -->
</div><!-- .viewport-container -->

<% include ../partials/footer.ejs %>