<% include ../partials/header.ejs %>
<div class="viewport-container bg-delsol">
    <div class="container-fluid">
	    <div class="row">
	    	<div class="col-12 col-lg-6">
	    		<div class="card mt-3 mb-3 text-center text-lg-left">
	    			<div class="card-block">
	    				<h1 class="display-4">Daron Anderson</h1>
	    				<h2>Skateboarder</h2>
	    				<h3>Welcome To My Cyber Abode!</h3>
	    			</div>
	    		</div>
	    	</div>
	    </div><!-- .row -->

	    					<!-- .content start-->
		<div class="row">	        
	        <div class="col-12 col-lg-6 border border-dark">
	            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/njSH-tr_mA0" frameborder="0" style="min-height: 400px;" allowfullscreen></iframe>
		            <strong>		             
			            <p class="mt-2">.....And now for a Destiny Road Special Presentation! Happy Birthday to The "King of Pop" Michael Jackson! If Michael's music impacted you in ANYWAY, please love and SHARE! Everyone tagged please share! Thanks for your support and stay tuned for more great music from Destiny Road very soon! WATCH to the very end for the credits!! Let's Go Viral for MJ one time.... enjoy #MichaelJackson #DestinyRoad #KingofPop #NewArtists #FeelGoodMusic #RealMusic #Greatestofalltime
			            </p>			         
			        </strong>
	        </div><!-- .col -->


	        <div class="col-12 col-lg-6">
	            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/hrYBKSMeTnI" frameborder="0" style="min-height: 400px;" allowfullscreen></iframe>
	            <p class="mt-2">
	            	<strong><em>"SkateMan Steeze"</em></strong>
	             <br>
	             	<Strong>
	             			
	             			Featuring:
	             			<a href="https://www.instagram.com/apollojetsontv/">@apollojetsontv</a> -
	             			<a href="https://www.instagram.com/shmoplifed00kie/">@shmoplifed00kie</a>
	             			<br>	             			
	             			& <br>
	             			</Strong>
	             	<strong>All The Homies</strong>
	            </p>
	        </div><!-- .col -->

        
	        <div class="col-12 col-lg-6">
	            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/MAmy_W6b4A4" frameborder="0" style="min-height: 400px;" allowfullscreen></iframe>
	            	<strong>		             
			         <!--   <p class="mt-2">
			           		<a href="https://www.instagram.com/faktrr/">@faktrr</a>
			           		<br>
			         		<a href="https://www.instagram.com/thanksfool/">@thanksfool</a>
			         		<br>
			           		<a href="https://www.instagram.com/android_thompson_rvk/">@android_thompson_rvk</a>
			           	</p> 
						reuse this block for tagging -->	
						         
			        </strong>
	        </div><!-- .col -->

	        <div class="col-12 col-lg-6">
	            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/aTk-PVFUgWM" frameborder="0" style="min-height: 400px;" allowfullscreen></iframe>
	            <strong>		             
			            <p class="mt-2">
							Filmed By:		            
			            	<a href="https://www.instagram.com/thanksfool/">@thanksfool</a>
			            	<br>
			            	Skaters:
			            	<a href="https://www.instagram.com/faktrr/">@faktrr</a>			           
			         		<br>
			           		<a href="https://www.instagram.com/lijahsk8s/">@lijahsk8s</a>
			           		<br>
			           		<a href="https://www.instagram.com/hendrix_on_wheels/">@hendrix_on_wheels</a>
			           		<br>
			           		<a href="https://www.instagram.com/prodmarly/">@prodmarly</a>
			           		
			            </p>			         
			        </strong>
	        </div><!-- .col -->	

	        <div class="col-12 col-lg-6">
	            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/FrWS8tPtA34" frameborder="0" style="min-height: 400px;" allowfullscreen></iframe>
	            <strong>		             
			            <p class="mt-2">
			            	This is txt.!!!!
			            </p>			         
			        </strong>
	        </div><!-- .col -->

	        <div class="col-12 col-lg-6">
	            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/kPnUyqqu7ys" frameborder="0" style="min-height: 400px;" allowfullscreen></iframe>
	            <strong>		             
			            <p class="mt-2">
			            	This is txt.!!!!
			            </p>			         
			        </strong>
	        </div><!-- .col -->	  
	        
	        <div class="col-12 col-lg-6">
	            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/km8eEHpYkws" frameborder="0" style="min-height: 400px;" allowfullscreen></iframe>
	            <strong>		             
			            <p class="mt-2">
			            	This is txt.!!!!
			            </p>			         
			        </strong>
	        </div><!-- .col -->

	        <div class="col-12 col-lg-6">
	            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/8FvDs0xdZ8s" frameborder="0" style="min-height: 400px;" allowfullscreen></iframe>
	            <strong>		             
			            <p class="mt-2">
			            	This is txt.!!!!
			            </p>			         
			        </strong>
	        </div><!-- .col -->
 
			<div class="col-12 col-lg-6">
	            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/q-QHmIbWhsI" frameborder="0" style="min-height: 400px;" allowfullscreen></iframe>
	            <strong>		             
			            <p class="mt-2">
			            	This is txt.!!!!
			            </p>			         
			        </strong>
	        </div><!-- .col -->

			<div class="col-12 col-lg-6">
	            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/zhyTCgAg-xw?ecver=1" frameborder="0" style="min-height: 400px;" allowfullscreen></iframe>
	            <strong>		             
			            <p class="mt-2">
			            	This is txt.!!!!
			            </p>			         
			        </strong>
	        </div> <!-- .col -->
	    </div><!-- .row -->


	    				<!-- .content end-->

	    				<!-- .content start-->
<!--
	    <div class="row">

			<div class="col-12 col-lg-6">
	            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/8FvDs0xdZ8s" frameborder="0" style="min-height: 400px;" allowfullscreen></iframe>
	        </div>-->
	        	   <!-- .col --> <!-- .content end-->
	    </div><!-- .row -->

    </div><!-- .container-fluid -->
</div><!-- .viewport-container -->
<!---->

<div class="viewport-container bg-oakland">
    <div class="container-fluid">
	    <div class="row">
	    	<div class="col-12 col-lg-6">
	    		<div class="card mt-3 text-center text-lg-left">
	    			<div class="card-block">
	    				<h1 class="display-4">Mr. Anderson</h1>
	    				<h2>Programmer</h2>
	    			</div>
	    		</div>
	    	</div>
	    </div><!-- .row -->

	    <div class="row">
	        <div class="col-12 col-lg-6">
	    		<div class="card mt-3 mb-3 text-center text-lg-left">
	    			<div class="card-block">
	    				<h3 class="card-text">
	    					Developer @ 
	    					<a href="https://codehesion.tech" target="_blank">
	    						Codehesion
	    					</a> where I build cool websites for the community.<br><br>
	    					Member of 
	    					<a href="https://sudoroom.org" target="_blank">
	    						Sudo Room
	    					</a> where I teach and program with other Developers.<br><br>
	    					I am interested in <em>Web Development,</em> <em>Network Security</em>, <em>Penetration Testing</em> &amp; <em>Ethical Hacking</em>.<br>
	    				</h3>
	    			</div>
	    		</div>
	        </div><!-- .col -->
	    </div><!-- .row -->
    </div><!-- .container-fluid -->
</div><!-- .viewport-container -->
<% include ../partials/footer.ejs %>