<% include ../partials/header.ejs %>

<div class="viewport-container bg-delsol">
    <div class="container-fluid">
	    <div class="row">
	    	<div class="col-12 col-lg-6">
	    		<div class="card mt-3 mb-3 text-center text-lg-left">
	    			<div class="card-block">
	    				<h1 class="display-4">Talent</h1>
	    				<h2>This is where all of the local and wordly music talent thrives!!!</h2>
	    				<h3>Welcome To My Cyber Abode!</h3>
	    			</div>
	    		</div>
	    	</div>
	    </div><!-- .row -->


	    					<!-- .content start-->
		<div class="row">	        
	        <div class="col-12 col-lg-6 border border-dark">
	            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/njSH-tr_mA0" frameborder="0" style="min-height: 400px;" allowfullscreen></iframe>
		            <strong>		             
			            <p class="mt-2">.....And now for a Destiny Road Special Presentation!<br/> Happy Birthday to The "King of Pop" Michael Jackson!<br/> If Michael's music impacted you in ANYWAY,<br/> please love and SHARE! Everyone tagged please share!<br/> Thanks for your support and stay tuned<br/> for more great music from Destiny Road very soon!<br/> WATCH to the very end for the credits!! Let's Go Viral for MJ one time....<br/> Enjoy!!!! #MichaelJackson #DestinyRoad #KingofPop #NewArtists #FeelGoodMusic #RealMusic #Greatestofalltime
			            </p>			         
			        </strong>
	        </div><!-- .col -->

	        <div class="col-12 col-lg-6">
	            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/hrYBKSMeTnI" frameborder="0" style="min-height: 400px;" allowfullscreen></iframe>
	            <p class="mt-2">
	            	<strong><em>"SkateMan Steeze"</em></strong>
	             <br>
	             	<Strong>
	             			
	             			Featuring:
	             			<a href="https://www.instagram.com/apollojetsontv/" target="_blank">@apollojetsontv</a>  x
	             			<a href="https://www.instagram.com/shmoplifed00kie/" target="_blank">@shmoplifed00kie</a>
	             			<br>	             			
	             			& <br>
	             			</Strong>
	             	<strong>All The Homies</strong>
	            </p>
	        </div><!-- .col -->



	       
	    </div><!-- .row -->


	    				<!-- .content end-->

	    				<!-- .content start-->
<!--
	    <div class="row">

			<div class="col-12 col-lg-6">
	            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/8FvDs0xdZ8s" frameborder="0" style="min-height: 400px;" allowfullscreen></iframe>
	        </div>  -->

	        	   <!-- .col --> 
	        	   <!-- .content end-->
	    </div><!-- .row -->

    </div><!-- .container-fluid -->
</div><!-- .viewport-container --> 

<div class="viewport-container bg-oakland">
    <div class="container-fluid">
	    <div class="row">
	    	<div class="col-12 col-lg-6">
	    		<div class="card mt-3 text-center text-lg-left">
	    			<div class="card-block">
	    				<h1 class="display-4">Mr. Anderson</h1>
	    				<h2>Programmer</h2>
	    			</div>
	    		</div>
	    	</div>
	    </div><!-- .row -->

	    <div class="row">
	        <div class="col-12 col-lg-6">
	    		<div class="card mt-3 mb-3 text-center text-lg-left">
	    			<div class="card-block">
	    				<h3 class="card-text">
	    					Developer @ 
	    					<a href="https://codehesion.tech" target="_blank">
	    						Codehesion
	    					</a> where I build cool websites for the community.<br><br>
	    					Member of 
	    					<a href="https://sudoroom.org" target="_blank">
	    						Sudo Room
	    					</a> where I teach and program with other Developers.<br><br>
	    					I am interested in <em>Web Development,</em> <em>Network Security</em>, <em>Penetration Testing</em> &amp; <em>Ethical Hacking</em>.<br>


						<!-- <form action="/your-server-side-code" method="POST">
							  <script
							    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
							    data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
							    data-amount="999"
							    data-name="Stripe.com"
							    data-description="Widget"
							    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
							    data-locale="auto"
							    data-zip-code="true">
							  </script>
							</form> -->


	    				</h3>
	    			</div>
	    		</div>
	        </div><!-- .col -->
	    </div><!-- .row -->
    </div><!-- .container-fluid -->
</div><!-- .viewport-container -->


















<% include ../partials/footer.ejs %>